In [6]:
import pandas as pd
df = pd.read_csv('world.csv')
df1 = df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數'])
df1

#query內為字串
df_am = df1.query('國家=="美國"')
df_am

#series簡單統計max()
am_max = int(df_am['新增確診數'].max())
am_max

#字串內要用變數,要用@
df2 = df_am.query('新增確診數==@am_max')

#query內為字串
df_jp = df1.query('國家=="日本"')
df_jp

#series簡單統計max()
jp_max = int(df_jp['新增確診數'].max())
jp_max

#字串內要用變數,要用@
df3 = df_jp.query('新增確診數==@jp_max')

display(df2)
display(df3)
df4 = pd.concat([df2, df3])
display(df4)

         洲名  國家          日期      總確診數    新增確診數       總人口數
177979  北美洲  美國  2022-01-10  61801347  1383887  332915074

       洲名  國家          日期     總確診數   新增確診數       總人口數
86369  亞洲  日本  2022-02-03  3019169  104345  126050796

         洲名  國家          日期      總確診數    新增確診數       總人口數
177979  北美洲  美國  2022-01-10  61801347  1383887  332915074
86369    亞洲  日本  2022-02-03   3019169   104345  126050796

In [8]:
import pandas as pd
df = pd.read_csv('world.csv')
df1 = df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數'])
df1

#美國最多新增確診數的資料
df_am = df1.query('國家=="美國"')
am_max = int(df_am['新增確診數'].max())
df2 = df_am.query('新增確診數==@am_max')

#日本最多新增確診數的資料
df_jp = df1.query('國家=="日本"')
jp_max = int(df_jp['新增確診數'].max())
df3 = df_jp.query('新增確診數==@jp_max')

#美國及日本最多新增確診數的資料
df4 = pd.concat([df2, df3])
display(df4)

         洲名  國家          日期      總確診數    新增確診數       總人口數
177979  北美洲  美國  2022-01-10  61801347  1383887  332915074
86369    亞洲  日本  2022-02-03   3019169   104345  126050796